<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<bean id="connectionMaker" class="com.spring.toby.basic.DConnectionMaker" />
	<bean id="basicUserDao" class="com.spring.toby.basic.BasicUserDao">
		<property name="connectionMaker" ref="connectionMaker" />
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/spring" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="jdbcContext" class="com.spring.toby.template.JdbcContext">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="newUserDao" class="com.spring.toby.news.NewUserDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="templateUserDao" class="com.spring.toby.template.TemplateUserDao">
		<property name="dataSource" ref="dataSource" />
		<property name="jdbcContext" ref="jdbcContext" />
	</bean>

	<bean id="apiUserDao" class="com.spring.toby.api.ApiUserDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

<!--	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
<!--		<property name="host" value="mail.server.com" />-->
<!--	</bean>-->

	<bean id="mailSender" class="com.spring.toby.independent.DummyMailSender">
	</bean>

	<bean id="userServiceOld" class="com.spring.toby.independent.UserServiceTx">
		<property name="transactionManager" ref="transactionManager" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userService" class="com.spring.toby.independent.UserServiceImpl">
		<property name="userDao" ref="userDao" />
<!--		<property name="dataSource" ref="dataSource" />-->
		<property name="mailSender" ref="mailSender" />
	</bean>

	<bean id="userDao" class="com.spring.toby.independent.UserDaoJdbc">
		<property name="dataSource" ref="dataSource" />
		<property name="sqlService" ref="sqlService" />
	</bean>

	<bean id="userServiceTx" class="com.spring.toby.factorybean.TxProxyFactoryBean">
		<property name="target" ref="userService" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="pattern" value="upgradeLevels" />
		<property name="serviceInterface" value="com.spring.toby.independent.UserService" />
	</bean>

	<bean id="transactionAdvice" class="com.spring.toby.proxy.TransactionAdvice">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

<!--	<bean id="transactionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">-->
<!--		<property name="mappedName" value="upgrade*" />-->
<!--	</bean>-->

<!--	<bean id="transactionPointcut" class="com.spring.toby.proxy.NameMatchClassMethodPointcut">-->
<!--		<property name="mappedClassName" value="*ServiceImpl" />-->
<!--		<property name="mappedName" value="upgrade*" />-->
<!--	</bean>-->

	<bean id="transactionPointcut" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
		<property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..))" />
	</bean>

	<bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="transactionAdvice" />
		<property name="pointcut" ref="transactionPointcut" />
	</bean>

	<bean id="userServiceAdvisor" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="userService" />
		<property name="interceptorNames">
			<list>
				<value>transactionAdvisor</value>
			</list>
		</property>
	</bean>

	<!-- bean 후처리기 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

	<bean id="testUserServiceImpl" class="com.spring.toby.UserServiceTest$TestUserServiceImpl" parent="userService" />

	<bean id="testUserService" class="com.spring.toby.independent.TestUserService">
		<property name="id" value="test4" />
		<property name="userDao" ref="userDao" />
		<property name="mailSender" ref="mailSender" />
	</bean>

<!--	<tx:advice id="txAdvice">-->
<!--		<tx:attributes>-->
<!--			<tx:method name="get*" read-only="true" />-->
<!--			<tx:method name="*" />-->
<!--		</tx:attributes>-->
<!--	</tx:advice>-->

<!--	<aop:config>-->
<!--		<aop:advisor advice-ref="txAdvice" pointcut="bean(*Service)" />-->
<!--	</aop:config>-->

	<tx:annotation-driven />

	<context:annotation-config />

<!--	<bean id="sqlReader" class="com.spring.toby.sqlservice.JaxbXmlSqlReader" />-->

<!--	<bean id="sqlRegistry" class="com.spring.toby.sqlservice.HashMapSqlRegistry" />-->

<!--	<bean id="sqlService" class="com.spring.toby.sqlservice.XmlSqlService">-->
<!--		<property name="sqlReader" ref="sqlReader" />-->
<!--		<property name="sqlRegistry" ref="sqlRegistry" />-->
<!--	</bean>-->

<!--	<bean id="sqlService" class="com.spring.toby.sqlservice.DefaultSqlService" />-->

	<bean id="sqlService" class="com.spring.toby.sqlservice.OxmSqlService">
		<property name="unmarshaller" ref="unmarshaller" />
	</bean>

	<bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="com.spring.toby.sqlservice.jaxb" />
	</bean>

</beans>
